<% title "SchoolSys :: Registered Users" %>
<h3>Registered Users</h3>
<% @users.each do |user| %>
	    <%= user.username %>
	    <%= user.email %>
	    <button class="btn btn-success"><%= link_to 'Add friend' %></button><br>
        <!--<td><%#=truncate(strip_tags(user.bio), length: 140) %></td>-->
<% end %>
 